*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* ------------------------- NAV --------------------- */
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;  
    background-color: #5D4954;
    font-family: 'Roboto Condensed', sans-serif;

}


.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


/* ------------------------- HERO IMAGE --------------------- */


.hero-image {
    background-image: url(images/images.png);
    width: 100%;
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    bottom: 50%;
    position: absolute;
    transform: translate( 0%, 50%);
    color: white;
}



  
/* ------------------------------------------------------------------- 
* ## Boxes
* ------------------------------------------------------------------- */

#boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:25%;
    
  }
  
  #boxes .box img{
    width:70px;
  }
  
  #box-contact h3  {
    text-align:left;
    font-size: 24px;
  }
  
  #box-contact p {
    text-align:left;
  }
  
  #box-contact {
    background-color: #E9E9EA;
  }

  #boxes .button {
    text-align: center;
  }

  /* description */
  #desc{
    text-align:center;
    padding:15px;
    color:#ffffff;
    background:#35424a
  }